header
    .content_section
        .logo_wrap
            img(src="img/logo.png", alt="logo" width='154px' height='50px')
            span инсталяции
        nav.main_menu
            li.main_menu_item
                a(href="#") Главная
                .bootom_line
            li.main_menu_item
                a(href="#") Проекты 
                .bootom_line
            li.main_menu_item
                a(href="#") Услуги
                .bootom_line
            li.main_menu_item
                a(href="#") О компании
                .bootom_line
            li.main_menu_item
                a(href="#") Готовые решения
                .bootom_line
            li.main_menu_item
                a(href="#") Контакты
                .bootom_line
        
                 
        .contact_block
            .mail_block 
                img(src="img/mail_icon.png", alt="phone" width='24px' height='24px')
                span info@sld-store.ru
            .phone_block
                img(src="img/phone_icon.png", alt="phone" width='24px' height='24px')
                .callback
                    a.call Обратный звонок
                    span.phone 8 812 615-62-79
        .hamburger_menu
            .hamburger_icon
                span.line.line_first
                span.line.line_second
                span.line.line_third

        .mobile_menu_wrap
            nav.mobile_menu.content_section
                li.mobile_menu_item
                    img(src="img/main.png", alt="main")
                    a.mobile_menu_item_link.link_active(href="#") Главная
                li.mobile_menu_item
                    img(src="img/projects.png", alt="projects")
                    a.mobile_menu_item_link(href="#") Проекты 
                li.mobile_menu_item
                    img(src="img/services.png", alt="services")
                    a.mobile_menu_item_link(href="#") Услуги
                li.mobile_menu_item
                    img(src="img/about_company.png", alt="about_company")
                    a.mobile_menu_item_link(href="#") О компании
                li.mobile_menu_item
                    img(src="img/ready_made.png", alt="ready_made")
                    a.mobile_menu_item_link(href="#") Готовые решения
                li.mobile_menu_item
                    img(src="img/contacts.png", alt="contacts")
                    a.mobile_menu_item_link(href="#") Контакты
                .button_wrap    
                    a.button.button_brif(href="#") Заполнить бриф
                
                h5.mobile_title Напишите нам
                .mobile_mail
                    .icon
                    p.mobile_mail_text 
                        img(src="img/mail_icon.png", alt="mail_icon")
                        a.mobile_mail_text_link info@sld-store.ru



                

