section.intro
    .main_background_slider
        img.main_background_slider_item(src="img/intro_background.png", alt="")
        img.main_background_slider_item(src="img/intro_background.png", alt="")
        img.main_background_slider_item(src="img/intro_background.png", alt="")
        
    .content_section
        .slider_left_wrap
            .slider_left
                .slider_left_item
                    h6 Оснащение конференц-залов
                    h1.title Видео конференции
                    p.text_white.
                        Профессиональное оборудование для конференц-залов предназначено для проведения и организации презентаций, совещаний, бизнес-тренингов и онлайн-трансляции контента.
                .slider_left_item
                    h6 Оснащение конференц-залов 
                    h1.title Видео конференции 2
                    p.text_white.
                        Профессиональное оборудование для конференц-залов предназначено для проведения и организации презентаций, совещаний, бизнес-тренингов и онлайн-трансляции контента.
                .slider_left_item
                    h6 Оснащение конференц-залов
                    h1.title Видео конференции 3
                    p.text_white.
                        Профессиональное оборудование для конференц-залов предназначено для проведения и организации презентаций, совещаний, бизнес-тренингов и онлайн-трансляции контента.
            .button_wrap
                a.button.back_call
                    span Обратный звонок
                a.button 
                    span Заполнить бриф
        .slider_right_wrap
            .slider_right
                .slider_right_item.opacity
                    .slider_right_item_content
                        h1.number 01
                        p.
                            Простота использования оснащения позволяет решать функциональные и организационные задачи, оптимизировать работу, проводить мероприятия различного масштаба.
                .slider_right_item
                    .slider_right_item_content
                        h1.number 02
                        p.
                            Применение инновационных решений для демонстрации культурных и исторических реликвий – актуальная тенденция, которая успешно применяется в музеях и на площадках альтернативного искусства. 
                .slider_right_item
                    .slider_right_item_content
                        h1.number 03
                        p.
                            Применение инновационных решений для демонстрации культурных и исторических реликвий – актуальная тенденция, которая успешно применяется в музеях и на площадках альтернативного искусства. 
            .nav_for_slider
                    .arrow_slider.arrow_left
                        i(class="fa fa-angle-left" aria-hidden="true")
                    .arrow_slider.arrow_right
                        i(class="fa fa-angle-right" aria-hidden="true")
include ../includes/tagged_block.pug
                    